.carousel{ 
    width: 760px; 
    height:500px; 
    display: flex;
    float: left;
    align-items: left;
    margin: 20px;
}
.accordion{
    width: 35%;
    height: 500px;
    float: right;
    align-content: right;
    align-items: right;
    margin: 20px;
    margin-bottom: 150px;
}

.row{
    width: 60%;
    float: center;
    align-content: center;
    align-items: center;
    margin: 20px;
    margin-bottom: 50px;   
}
.card col{
    width: 80%;
    float: center;
    align-content: center;
    align-items: center;
    margin: 20px;
    margin-bottom: 50px;  
}
